<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/profile.css">
</head>
<body>
  <div class="topnav">
        <a href="#home">Home</a>
        <a href="http://localhost:3232/add_donors.html">Donate</a>
        <a href="#donor">Find Donor</a>
        <a href="#event">Events</a>
        <a href="#contact">Contact</a>
        <span id="username" style="color: tomato;">{{user.username}}</span>
        <a id="logout" href="/login">Logout</a>
  </div>
  <p class="main-text">"We make a living by what we get.<br> &ensp; We make a life by what we give." <br> <span class="author-name">– Winston Churchill</span></p>
  
</body>
</html>