/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: relative;
    top: -10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: cyan;
}

#logout {
    position: relative;
    right: -680px;
}

#username {
    position: relative;
    right: -450px;
    top:20px;
}

.main-text {
    font-weight: bold;
    font-size: 25pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom: -250px;
    
}

.author-name {
    position: relative;
    top: 30px;
    padding-left: 230px;
}

.header {
    margin-top: 150px;
    color: red;
    text-align: center;
}