.form {
    border-style: solid;
    border-width: 1.5px;
    padding: 20px;
    margin-top: 40px;
}
.line {
    height: 1px;
    background-color: gray;
    margin-top: 20px;
}
.ww {
    text-align: center;
    margin-top: 10px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 241545bff430568e84348ae57682c03879d2b5c9
