.heading {
    margin-top: 20px;
    position: relative;
    right: -660px;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}
.oneone {
    margin-left: 20px;
}
.onethree {
    margin-right: 200px;
}

#donate-blood {
    width: 500px;
    height: 350px;
    position: relative;
    left: 50px;
    
}

.form-control {
    width: 400px;
}
