body {
    background-image: url(Media/landing-page.gif);
    background-size: 1280px 700px;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: relative;
    top: -10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: cyan;
}

#signup ,
#login {
    position: relative;
    right: -550px;
    border: white solid 1px;
    font-weight: bold;
    color: white;
}

#signup:hover,
#login:hover{
     color: aqua;
}

.main-text {
    font-weight: bold;
    position: relative;
    right: -600px;
    font-size: 25pt;
    bottom: -250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.author-name {
    position: relative;
    top: 30px;
    padding-left: 230px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 7ad18523f4e97d88a3ca08a6a812e53b38cc7881
