.heading {
    background-color: red;
    margin-top: 20px;
}
.oneone {
    background-color: sienna;
    margin-left: 20px;
}
.onethree {
    background-color: sienna;
    margin-right: 20px;
}